
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">&copy; Mongo Control Panel

                </div>
                <div>
                    <a target="_blank" href="https://github.com/erelbi/mongodb_controlpanel">Flask Dashboard Mongo Admin</a>
                    &middot;
                    <a target="_blank" href="https://ozgurentegrasyon.com.tr">Özgür Entegrasyon</a>
                </div>
            </div>
        </div>
    </footer>
